/* @media (max-width: 910px) {
  .overlay-content-editTask {
    left: 0 !important;
  }
}


@media (max-width: 642px) {
  .overlay-content-editTask {
    left: 0 !important;
    padding: 48px 40px !important;
  }
}


@media (max-width: 550px) {
  .overlay-content-editTask {
    transform: scale(0.8);
  }
}

@media (max-width: 380px) {
  .overlay-content-editTask {
    transform: scale(0.6);
  }
} */